.wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.label {
    cursor: pointer;
}

.input {
    width: 0px;

    position: relative;

    &::before {
        display: flex;
        content: '';

        width: 10px;
        height: 10px;

        border-radius: 50%;
        background-color: #000;

        cursor: pointer;

        position: absolute;
        left: 0px;
        top: 50%;

        transform: translateY(-50%);
    }

    &:checked {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        display: flex;
        content: '';

        width: 5px;
        height: 5px;

        border-radius: 50%;
        background-color: rgb(0, 255, 47);

        cursor: pointer;

        position: absolute;
        left: 2.5px;
        top: 50%;

        transform: translateY(-50%);

        opacity: 0;

        transition: .3s;
    }
}