.wrapper{
    max-width: 0 auto;

    display: flex;
    justify-content: center;
}

.list{
    display: flex;
    column-gap: 20px;
    width: 100%;
    max-width: 1420px;

    &__link{
        color: red;
    }
}